.51_26 { 
	overflow:hidden;
}.e51_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	position:absolute;
}.e10_36 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e10_37 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/201909008215_500_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_18 { 
	box-shadow:7px 7px 4px rgba(0, 0, 0, 0.3499999940395355);
	width:258px;
	height:204px;
	position:absolute;
	left:721px;
	top:577px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/__8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_19 { 
	box-shadow:7px 7px 4px rgba(0, 0, 0, 0.3499999940395355);
	width:258px;
	height:204px;
	position:absolute;
	left:1022px;
	top:577px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e10_58 { 
	color:rgba(102.00000151991844, 34.00000177323818, 51.00000075995922, 1);
	width:553px;
	height:61px;
	position:absolute;
	left:94px;
	top:172px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e11_62 { 
	box-shadow:7px 7px 4px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:258.45166015625px;
	height:204.16871643066406px;
	position:absolute;
	left:123px;
	top:263px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e11_63 { 
	width:258.45166015625px;
	height:204.16871643066406px;
	position:absolute;
	left:123px;
	top:263px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/_______2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_15 { 
	box-shadow:7px 7px 4px rgba(0, 0, 0, 0.3499999940395355);
	width:259px;
	height:205px;
	position:absolute;
	left:126px;
	top:577px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_16 { 
	box-shadow:7px 7px 4px rgba(0, 0, 0, 0.3499999940395355);
	width:259px;
	height:205px;
	position:absolute;
	left:425px;
	top:577px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/__6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_3 { 
	box-shadow:7px 7px 4px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:259px;
	height:204px;
	position:absolute;
	left:423px;
	top:263px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e21_5 { 
	width:259px;
	height:204px;
	position:absolute;
	left:423px;
	top:263px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/__3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_34 { 
	color:rgba(63.75, 63.75, 63.75, 1);
	width:246px;
	height:61px;
	position:absolute;
	left:1031px;
	top:483px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}.e23_38 { 
	color:rgba(63.75, 63.75, 63.75, 1);
	width:246px;
	height:61px;
	position:absolute;
	left:727px;
	top:799px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}.e23_39 { 
	color:rgba(63.75, 63.75, 63.75, 1);
	width:248px;
	height:61px;
	position:absolute;
	left:1028px;
	top:799px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}.e23_35 { 
	color:rgba(63.75, 63.75, 63.75, 1);
	width:217px;
	height:61px;
	position:absolute;
	left:147px;
	top:799px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}.e23_36 { 
	color:rgba(63.75, 63.75, 63.75, 1);
	width:220px;
	height:61px;
	position:absolute;
	left:444px;
	top:799px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}.e23_8 { 
	color:rgba(63.75, 63.75, 63.75, 1);
	width:198px;
	height:31px;
	position:absolute;
	left:470px;
	top:483px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}.e23_40 { 
	color:rgba(63.75, 63.75, 63.75, 1);
	width:241px;
	height:48px;
	position:absolute;
	left:135px;
	top:483px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}.e23_12 { 
	color:rgba(63.75, 63.75, 63.75, 1);
	width:252px;
	height:114px;
	position:absolute;
	left:724px;
	top:483px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}.e23_9 { 
	box-shadow:7px 7px 4px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:259px;
	height:204px;
	position:absolute;
	left:724px;
	top:263px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e23_11 { 
	width:259px;
	height:204px;
	position:absolute;
	left:724px;
	top:263px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/__4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_13 { 
	box-shadow:7px 7px 4px rgba(0, 0, 0, 0.3499999940395355);
	background-color:rgba(255, 255, 255, 1);
	width:258px;
	height:205px;
	position:absolute;
	left:1025px;
	top:263px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e23_20 { 
	width:258px;
	height:205px;
	position:absolute;
	left:1025px;
	top:263px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/__5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_22 { 
	background-color:rgba(255, 0, 0, 0.699999988079071);
	width:288px;
	height:22px;
	position:absolute;
	left:288px;
	top:0px;
}.23_22 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e23_23 { 
	background-color:rgba(255, 119.00003850460052, 0, 0.800000011920929);
	width:288px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}.23_23 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e23_24 { 
	background-color:rgba(129.62499797344208, 45.368748530745506, 0, 0.699999988079071);
	width:288px;
	height:22px;
	position:absolute;
	left:576px;
	top:0px;
}.23_24 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e23_25 { 
	background-color:rgba(255, 204.00000303983688, 0, 0.699999988079071);
	width:288px;
	height:22px;
	position:absolute;
	left:864px;
	top:0px;
}.23_25 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e23_26 { 
	background-color:rgba(15.122914910316467, 129.62499797344208, 0, 0.699999988079071);
	width:288px;
	height:22px;
	position:absolute;
	left:1152px;
	top:0px;
}.23_26 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e23_28 { 
	background-color:rgba(255, 0, 0, 0.699999988079071);
	width:288px;
	height:22px;
	position:absolute;
	left:288px;
	top:1002px;
}.23_28 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e23_29 { 
	background-color:rgba(255, 119.00003850460052, 0, 0.800000011920929);
	width:288px;
	height:22px;
	position:absolute;
	left:0px;
	top:1002px;
}.23_29 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e23_30 { 
	background-color:rgba(129.62499797344208, 45.368748530745506, 0, 0.699999988079071);
	width:288px;
	height:22px;
	position:absolute;
	left:576px;
	top:1002px;
}.23_30 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e23_31 { 
	background-color:rgba(255, 204.00000303983688, 0, 0.699999988079071);
	width:288px;
	height:22px;
	position:absolute;
	left:864px;
	top:1002px;
}.23_31 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e23_32 { 
	background-color:rgba(15.122914910316467, 129.62499797344208, 0, 0.699999988079071);
	width:288px;
	height:22px;
	position:absolute;
	left:1152px;
	top:1002px;
}.23_32 { 
	border:0px solid rgba(0, 0, 0, 1)0px solid rgba(0, 0, 0, 1);
}.e51_9 { 
	background-color:rgba(235.87500303983688, 235.87500303983688, 235.87500303983688, 1);
	width:111px;
	height:61px;
	position:absolute;
	left:1276px;
	top:886px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.51_9 { 
	border:1px solid rgba(125.37500202655792, 125.37500202655792, 125.37500202655792, 1);
}.e51_10 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:36px;
	position:absolute;
	left:1304px;
	top:899px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}